%h2 Log In

- form_tag session_path do
  %table
    %tr
      %td.label= 'login'
      %td= text_field_tag 'login', @login
    %tr
      %td.label= 'password'
      %td= password_field_tag 'password', nil
    %tr
      %td.label= 'remember me'
      %td= check_box_tag 'remember_me', '1', @remember_me
    %tr
      %td.label
      %td= submit_tag 'Log in'