#user_bar
  - if logged_in?
    = link_to_current_user :content_method => :login
    = " [#{ link_to 'X', logout_path, :title => 'Log out' }]"
  - else
    = link_to 'Log in', login_path, { :title => 'Log in to Your Account', :style => 'border: none;'}
    = " | "
    = link_to 'Sign up', signup_path, { :title => 'Create an Account' }