%h2= "About #{APPLICATION[:name]}"
%p Our stab at goal identification and accomplishment... hopefully more than "Just Another GTD Wannabe To Do List."
%p Feel free to contribute!

%h3 Get Started!
- if current_user
  %p= "Visit #{link_to 'Your Home Page', user_path(current_user.id)} to get the ball rolling!"
- else
  %p= "#{link_to 'Log in', login_path} or #{link_to 'sign up', signup_path} to take one step closer!"