- form_for([current_user, @goal]) do |f|
  = f.error_messages
  %p
    =# f.hidden_field :user_id
    = f.label 'title'
    = f.text_field :title
  %p
    = f.label 'description'
    = f.text_area :title
  .tags
    - new_or_existing = @goal.new_record? ? 'new' : 'existing'
    - prefix = "goal[tags_for_#{new_or_existing}]"
    %p
      = f.label 'tags'
      = #f.text_field :tags
      = text_field_tag prefix, @goal.tag_list
  %p= f.submit "Submit"