- form_for @goal do |f|
  = f.error_messages
  %p
    = f.label 'short description'
    = f.text_field :short_desc
  %p
    = f.label 'long description'
    = f.text_area :long_desc
  %p= f.submit "Submit"