%h2= "#{current_user.login}'s goals"

%table
  %tr
    %th
    %th tags
  - @goals.each do |goal|
    %tr
      %td.label= link_to h(goal.title), goal_path(goal)
      %td=h goal.description
      %td= goal.tag_list

= show_buttons(@goal)
