%html
  %head
    %title= APPLICATION[:name]
    = stylesheet_link_tag 'gaa'
  %body
    #header
      = render :partial => 'users/user_bar'
      = render :partial => 'layouts/main_menu'
    #main
      = render :partial => 'layouts/flash_messages'
      = yield
    #footer
