%html
  %head
    %title= APPLICATION[:name]
    = stylesheet_link_tag 'gaa'
  %body
    #header
      = render :partial => 'layouts/user_bar'
      %h1= APPLICATION[:name]
      - if logged_in?
        = render :partial => 'layouts/main_menu'
      %br.br/
    #main
      = render :partial => 'layouts/flash_messages'
      = yield
    #footer
