%html
  %head
    %title= DEFAULTS[:application_name]
  %body
    %header
      %user_bar
        = render :partial => "users/user_bar"
    %main
      - if flash[:error]
        %errors= flash[:error]
      - if flash[:notice]
        %errors= flash[:notice]
      = yield
    %footer
